<% @rents.each do |rent| %>
      <tr>
        <td><%= rent.full_name %></td>
        <td><%= rent.type_name %></td>
        <td><%= rent.type_brand_name %></td>
        <td><%= rent.display_date %></td>
        <td><%= rent.rented %></td>

        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>