<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'Client',            {}, { id: 'full-name-sort', data: {"sort-by" => 'name'} } %></th>
      <th><%= link_to 'Model',             {}, { id: 'model-sort', data: {"sort-by" => 'type'} } %></th>
      <th><%= link_to 'Date',   {}, { id: 'date-sort', data: {"sort-by" => 'created_at'} } %></th>
      <th><%= link_to 'Status', {}, { id: 'rented-sort', data: {"sort-by" => 'active'} } %></th>
    </tr>
  </thead>

  <tbody id="rents-list">
  <%= render "rents/rents_list" %>

    
  </tbody>
</table>