<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'Name',            {}, { id: 'name-sort', data: {"sort-by" => 'name'} } %></th>
      <th><%= link_to 'Surname',         {}, { id: 'surname-sort', data: {"sort-by" => 'surname'} } %></th>
      <th><%= link_to 'Age',             {}, { id: 'age-sort', data: {"sort-by" => 'age'} } %></th>
      <th><%= link_to 'Document Type',   {}, { id: 'doc_type-sort', data: {"sort-by" => 'doc_type'} } %></th>
      <th><%= link_to 'Document Number', {}, { id: 'doc_number-sort', data: {"sort-by" => 'doc_number'} } %></th>
    </tr>
  </thead>

  <tbody id="clients-list">
  <%= render "clients/clients_list" %>

    
  </tbody>
</table>