<% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.age %></td>
        <td><%= client.doc_type %></td>
        <td><%= client.doc_number %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>