<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'Name',            {}, { id: 'name-sort', data: {"sort-by" => 'name'} } %></th>
      <th><%= link_to 'Surname',         {}, { id: 'surname-sort', data: {"sort-by" => 'surname'} } %></th>
      <th><%= link_to 'Age',             {}, { id: 'age-sort', data: {"sort-by" => 'age'} } %></th>
      <th><%= link_to 'Document Type',   {}, { id: 'doc_type-sort', data: {"sort-by" => 'doc_type'} } %></th>
      <th><%= link_to 'Document Number', {}, { id: 'doc_number-sort', data: {"sort-by" => 'doc_number'} } %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.age %></td>
        <td><%= client.doc_type %></td>
        <td><%= client.doc_number %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>