<h1>List of Client</h1>
<br />
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surnam</th>
      <th>Age</th>
      <th>Document type</th>
      <th>Document number</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.age %></td>
        <td><%= client.doc_type %></td>
        <td><%= client.doc_number %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>