<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'Type' %></th>
      <th><%= link_to 'Brand' %></th>
      <th><%= link_to 'Plate' %></th>
      <th><%= link_to 'Color' %></th>
      <th><%= link_to 'Production year' %></th>
      <th><%= link_to 'State' %></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td id='type-name'><%= car.type_name %></td>
        <td id='type-brand-name'><%= car.type_brand_name %></td>
        <td id='plate'><%= car.plate %></td>
        <td id='paint'><%= car.car_paint %></td>
        <td id='production-year'><%= car.production_year %></td>
        <td id='state'><%= car.state %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'return', car_return_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'clean', car_clean_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'service', car_service_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'available', car_available_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'Delete car', car, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>