<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Brand</th>
      <th>Plate</th>
      <th>Color</th>
      <th>Production year</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.type_name %></td>
        <td><%= car.type_brand_name %></td>
        <td><%= car.plate %></td>
        <td><%= car.car_paint %></td>
        <td><%= car.production_year %></td>
        <td><%= car.state %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'return', car_return_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'clean', car_clean_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'service', car_service_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'available', car_available_car_path(car), method: :put, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'Delete car', car, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>