

<table class="table table-hover table-bordered">

  <thead>
    <tr>
      <th><%= link_to 'Type',            {}, { id: 'type-sort', data: {"sort-by" => 'type'}} %></th>
      <th><%= link_to 'Brand',           {}, { id: 'brand-sort', data: {"sort-by" => 'brand'}} %></th>
      <th><%= link_to 'Plate',           {}, { id: 'plate-sort', data: {"sort-by" => 'plate'}} %></th>
      <th><%= link_to 'Color',           {}, { id: 'color-sort', data: {"sort-by" => 'car_paint'}} %></th>
      <th><%= link_to 'Production year', {}, { id: 'productionYear-sort', data: {"sort-by" => 'production_year'}} %></th>
      <th><%= link_to 'State',           {}, { id: 'state-sort', data: {"sort-by" => 'state'}} %></th>
    </tr>
  </thead>

  <tbody id='cars-list'>
    <%= render "cars/cars_list" %>    
  </tbody>
  
</table>