<!DOCTYPE html>
<html>
<head>
  <title>RentCar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	

		<div class="menu">
		 <%= link_to "Home", root_path %>
		 <%= link_to "Cars", cars_path %>
		 <%= link_to "Add car", new_car_path %>
     <%= link_to "Clients", clients_path %>
     <%= link_to "Add clients", new_client_path %>
     <%= link_to "Rents", rents_path %>
     <%= link_to "Add rent", new_rent_path %>


		</div>
  <div class="container">

  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>

	<%= yield %>

	</div>

</body>
</html>
